<h2 style="padding-top: 15px;">Categories</h2>
<hr>
<div class="row">
	<div class="col-lg-5">
		<h4>Add new category</h4>
		<form id="cat-form">
			<div class="form-group">
				<label for="cat-name">Name</label>
				<input type="text" class="form-control" id="cat-name" autofocus="true">
				<div class="invalid-feedback">Please enter a valid category</div>
			</div>
			<div class="form-group">
				<label for="cat-desciption">Description</label>
				<input type="text" class="form-control" id="cat-desciption">
				<div class="invalid-feedback">Please enter a short description</div>
			</div>
			<div class="form-group">
				<label for="cat-thumbnail">Thumbnail</label>
				<input type="file" class="form-control" id="cat-thumbnail">
				<div class="invalid-feedback">Please choose a valid thumbnail</div>
			</div>
			<div class="form-group">
				<img src="" id="selected-thumbnail" width="250" height="150">
			</div>
			<div class="form-group">
				<div class="progress">
					<div class="progress-bar" id="upload-progress" style="width: 0%">0%</div>
				</div>
			</div>
			<div class="form-group">
				<button id="btn-save-cat" type="button" class="btn btn-primary">Save</button>
			</div>
		</form>
		<div id="result" style="margin-top: 5px"></div>
	</div>

	<div class="col-lg-7">
		<h3>Categories list</h3>
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Thumbnail</th>
				</tr>
			</thead>
			<tbody id="cat-list"></tbody>
		</table>
	</div>
</div>

<script>
	$("#selected-thumbnail").hide();

	var validImageType = ["image/gif", "image/jpg", "image/png"];

	function preview_thumbnail(thumbnail) {
		if(thumbnail.files && thumbnail.files[0]){
			var reader = new FileReader();

			reader.onload = function(e) {
				$("#selected-thumbnail").attr('src', e.target.result);
				$("#selected-thumbnail").fadeIn();
			}

			reader.readAsDataURL(thumbnail.files[0]);
		}
	}

	$("#cat-thumbnail").change(function(){
		preview_thumbnail(this);
	});

	$("#btn-save-cat").click(function() {
		$("#cat-name").removeClass("is-invalid");
		$("#cat-desciption").removeClass("is-invalid");
		$("#cat-thumbnail").removeClass("is-invalid");

		var name = $("#cat-name").val();
		var desc = $("#cat-desciption").val();
		var thumbnail = $("#cat-thumbnail").prop("files")[0];

		if (!name) {
			$("#cat-name").addClass("is-invalid");
			return;
		}

		if (!desc) {
			$("#cat-desciption").addClass("is-invalid");
			return;
		}

		if (thumbnail == null) {
			$("#cat-thumbnail").addClass("is-invalid");
			return;
		}

		if ($.inArray(thumbnail["type"], validImageType) < 0) {
			$("#cat-thumbnail").addClass("is-invalid");
			return;
		}

		// upload & save category
		var database = firebase.database().ref('categories/' + name);
		database.once("value").then(function(snapshot) {
			if(snapshot.exists()) {
				$("#result").attr("class", "alert alert-danger");
				$("#result").html("Category already existed.");
			} else {
				// upload selected thumbnail
				var thumbnail_name = thumbnail["name"];
				var ext = thumbnail_name.substring(thumbnail_name.lastIndexOf("."), thumbnail_name.length);
				var thumbname = new Date().getTime();

				var storageRef = firebase.storage().ref(name + "/" + thumbname + ext);
				var uploadTask = storageRef.put(thumbnail);

				// uploading
				uploadTask.on("state_changed",

					function progress(snapshot) {
						var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
						$("#upload-progress").html(percentage + "%");
						$("#upload-progress").attr("style", "width:" + percentage + "%");
					}, 

					function error(err) {
						$("#upload-progress").attr("style", "background-color:#ff634d");
						$("#upload-progress").html(err.message);
					}, 

					function complete() {
						storageRef.getDownloadURL().then(function(url) {
							console.log(url);

							var cat = {
								"thumbnail" : url,
								"desc" : desc
							};

							database.set(cat, function(err) {
								if(err) {
									$("#result").attr("class", "alert alert-danger");
									$("#result").html(err.message);
								} else {
									$("#result").attr("class", "alert alert-success");
									$("#result").html("Category added successfully.");
								}
							});
						});						
					}
				);
			}
		});
	});

	function resetForm() {
		$("#cat-form")[0].reset();
		$("#selected-thumbnail").fadeOut();
		$("#upload-progress").html("Completed.");
	}

	var dbCategory = firebase.database().ref("categories/");
	dbCategory.on("value", function(categories) {

		if(categories.exists()) {
			var cat_html = "";

			categories.forEach(function(category) {
				cat_html += "<tr>";

				// display name
				cat_html += "<td>";
				cat_html += category.key;
				cat_html += "</td>";

				// display description
				cat_html += "<td>";
				cat_html += category.val().desc;
				cat_html += "</td>";

				// display thumbnail
				cat_html += "<td><img width='250' height='150' src='";
				cat_html += category.val().thumbnail;
				cat_html += "'/></td>";
				
				cat_html += "/<tr>";
			});
		}

		$("#cat-list").html(cat_html);
	});
	
</script>